html{
		box-sizing:border-box;
		margin: 0;
		padding: 0;

	}
	
	 *, *:before,*:after { box-sizing: inherit; margin: 0; padding: 0; 
	}
	
	header,footer,h1,h2,h3,h4,div,p,aside,section,main,ol,ul,li{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 100%;
		border: 0;

	}

	body{
		width: 960px;
		background: #777;
		padding: 0 100px;
	}

	header{
		margin: 10px 0;
		padding: 32px 0;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
	}

	header, nav, main, footer{
		background-color: #ebebeb;
		text-align: center;
		color:#777;


	}
	
	nav{
		padding: 32px 0;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
	}

	
	main {
		background-color: #777;
		text-align: center;
		color:#aaa;
		box-sizing: border-box;
		margin: 20px 0;

	}

	section{
		width:495px;
		display: inline-block;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;

	}

	main section article{
		background-color: #777;
		color: #fff;
		padding: 20px 5px 13px;
		margin:20px 0;
	}

	
	main section article p,div.hs {
		background-color: #ebebeb;
		color: #aaa;
		
	}

	div.hs{
		margin:10px 0 10px 0;
		font-weight: bold;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
		color:#777;
	}

	div.hs,p.ps{
		padding: 14.5px 0;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
		margin: 10px;
		color:#777;
	}

	aside{
		display: inline-block;
		width: 250px;
		vertical-align: top;
		margin: 0 0 0 10px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
	}


	section, aside{
		height: 265px;
		background-color: #ebebeb;
		padding: 28.4px 5px 5px 5px;
		color: #777;
	}



	footer{
		padding: 34px 0;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
	}
